/* .btn{
    color: black;
    background: rgb(201, 201, 227); */
    /* background: #5047bb; */
/* } */

.hidden{
    display: none;
}

.metal{
    font-family: 'Metal Mania';
}

.russo{
    font-family: 'Russo One';
}

.satisfy{
    font-family: 'Courgette';
}